<div class="container">
  <div class="row">
    <div class="col-sm-8 offset-md-2">
        <% @posts.each do |post|%>
            <h1><%= link_to post.title, post %></h1>
            <p><strong>Publicado por:</strong> <%=post.user.email%> <strong>Fecha:</strong> <%=post.created_at.strftime("%d-%m-%Y")%> </p>
            <p><%=post.body.truncate(100, separator: ' ')%></p>
        <%end%>
    </div>
  </div>
</div>